In [2]:
import pandas

i = pandas.read_excel("1.xlsx", header=None)
cnts = i[2].value_counts()
cnts.sort_values(inplace=True, ascending=False)
cnts

4     4
2     1
3     1
14    1
Name: 2, dtype: int64

In [3]:
i

     0        1   2
0  435        a   4
1  435  b lfdsk   2
2  435  c lfdsk   4
3  435        d  14
4  435      dsf   3
5  435       ad   4
6  435       fd   4

In [4]:
import math
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

data = []

for n in np.linspace(2,500, 500):
    p = 0.03
    d = math.sqrt((p*(1-p)/n))
    low = p - d
    high = p + d
    data.append((low, high, n))

f = pd.DataFrame(data, None)

In [5]:
plt.plot(f[2], f[0])
plt.plot(f[1], f[0])
plt.show()

In [6]:
data = pd.read_csv("/home/usr/Downloads/Market_Russia.csv", sep=";", index_col="Datetime")
85.6 * pow(10,6) / data[-1:]

             Monthly  Average daily
Datetime
2015-12-01  3.925055      41.388267

In [ ]:
from math import sqrt

def confidence(ups, downs):
    n = ups + downs

    if n == 0:
        return 0

    z = 1.0 #1.44 = 85%, 1.96 = 95%
    phat = float(ups) / n
    return ((phat + z*z/(2*n) - z * sqrt((phat*(1-phat)+z*z/(4*n))/n))/(1+z*z/n))